@model List<Experience>

@{
    ViewData["Title"] = "ExperienceList";
    Layout = "~/Views/Layout/Index.cshtml";
}


<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Experiance</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Experience</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							You can perform operations related to experiences from the panel below.
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Head</th>
									<th scope="col">Title</th>
									<th scope="col">Date</th>
									<th scope="col">Delete</th>
									<th scope="col">Update</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.ExperianceID</td>
										<td>@item.Head</td>
										<td>@item.Title</td>
										<td>@item.Date</td>
										<td><a href="/Experience/DeleteExperience/@item.ExperianceID" class="btn btn-danger">Delete</a></td>
										<td><a href="/Experience/UpdateExperience/@item.ExperianceID" class="btn btn-success">Update</a></td>
									</tr>
								}
							</tbody>
						</table>
						<a href="/Experience/CreateExperience/" class="btn btn-primary">New Experience</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	